<div class="row">
  <div class="col-md-12">
    <a routerLink="/seminar/new" class="btn btn-primary">New Seminar</a>
    <a class="btn btn-primary" [ngClass]="current ? '' : 'disabled'" (click)="onEdit()">Edit Seminar</a>
    <a class="btn btn-danger" [ngClass]="current ? '' : 'disabled'" (click)="onDelete()">Delete Seminar</a>
    <hr>
    <div class="list-group">
      <a class="list-group-item" *ngFor="let seminar of all" (click)="onSelect(seminar)" [ngClass]="current == seminar ? 'active' : ''">
        {{seminar.name}}
      </a>
    </div>
  </div>
</div>